plyfile
tqdm
timm 
opencv-python
torchmetrics
trimesh
h5py
scipy
kornia
ninja
matplotlib
datasets
diffusers>=0.32.0
transformers>=4.40.0
accelerate>=0.28.0
toml
albumentations
einops
pytorch_lightning==2.3
wget
sentencepiece
protobuf
huggingface_hub>=0.22.0
pillow
httpx